name: test
on: 
  - pull_request
defaults:
  run:
    shell: bash
jobs:
  linux-all:
    strategy:
      fail-fast: false
      matrix:
        dbimage:
          - mysql:5.7
          - mysql:8.0
          - mariadb:10.2
          - mariadb:10.7
          - percona:5.7
          - percona:8.0
        swiftver:
          - swift:5.2
          - swift:5.5
          - swiftlang/swift:nightly-main
        swiftos:
          - focal
    container: ${{ format('{0}-{1}', matrix.swiftver, matrix.swiftos) }}
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: debug
      # Unfortunately, fluent-mysql-driver details leak through here
      MYSQL_DATABASE: 'test_database'
      MYSQL_DATABASE_A: 'test_database'
      MYSQL_DATABASE_B: 'test_database'
      MYSQL_USER: 'test_username'
      MYSQL_USERNAME: 'test_username'
      MYSQL_USERNAME_A: 'test_username'
      MYSQL_USERNAME_B: 'test_username'
      MYSQL_PASSWORD: 'test_password'
      MYSQL_PASSWORD_A: 'test_password'
      MYSQL_PASSWORD_B: 'test_password'
      MYSQL_HOSTNAME: 'mysql-a'
      MYSQL_HOSTNAME_A: 'mysql-a'
      MYSQL_HOSTNAME_B: 'mysql-b'
    services:
      mysql-a:
        image: ${{ matrix.dbimage }}
        env: 
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_USER: test_username
          MYSQL_PASSWORD: test_password
          MYSQL_DATABASE: test_database
      mysql-b:
        image: ${{ matrix.dbimage }}
        env: 
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_USER: test_username
          MYSQL_PASSWORD: test_password
          MYSQL_DATABASE: test_database
    steps:
      - name: Check out package
        uses: actions/checkout@v2
        with: { path: 'mysql-nio' }
      - name: Run tests
        run: swift test --package-path mysql-nio --enable-test-discovery
      - name: Check out mysql-kit dependent
        uses: actions/checkout@v2
        with: { repository: 'vapor/mysql-kit', path: 'mysql-kit' }
      - name: Check out fluent-mysql-driver dependent
        uses: actions/checkout@v2
        with: { repository: 'vapor/fluent-mysql-driver', path: 'fluent-mysql-driver' }
      - name: Use local package in dependents
        run: |
          swift package --package-path mysql-kit edit mysql-nio --path mysql-nio
          swift package --package-path fluent-mysql-driver edit mysql-nio --path mysql-nio
      - name: Run mysql-kit tests
        run: swift test --package-path mysql-kit --enable-test-discovery
      - name: Run fluent-mysql-driver tests
        run: swift test --package-path fluent-mysql-driver --enable-test-discovery

  macos-all:
    strategy:
      fail-fast: false
      matrix:
        dbimage:
          - mysql
          - mariadb
          - percona-server
        xcode:
          - latest-stable
          - latest
        include:
          - username: root
          - formula: mariadb
            username: runner
    runs-on: macos-11
    env:
      LOG_LEVEL: debug
      MYSQL_DATABASE: 'test_database'
      MYSQL_USERNAME: 'test_username'
      MYSQL_PASSWORD: 'test_password'
      MYSQL_HOSTNAME: '127.0.0.1'
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with: 
          xcode-version: ${{ matrix.xcode }}
      - name: Install MySQL, setup DB and auth, and wait for server start
        run: |
          brew install ${{ matrix.dbimage }} && brew link --force ${{ matrix.dbimage }}
          brew services start ${{ matrix.dbimage }}
          until echo | mysql -u${{ matrix.username }}; do sleep 1; done
          mysql -u${{ matrix.username }} --batch <<-SQL
              CREATE USER $MYSQL_USERNAME@localhost IDENTIFIED BY '$MYSQL_PASSWORD';
              CREATE DATABASE $MYSQL_DATABASE;
              GRANT ALL PRIVILEGES ON $MYSQL_DATABASE.* TO $MYSQL_USERNAME@localhost;
          SQL
        timeout-minutes: 5
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run all tests
        run: swift test

# Leave Windows disabled until NIO works there.
#  windows-all:
#    runs-on: windows-latest
#    steps:
#      - uses: compnerd/gha-setup-swift@main
#        with:
#          branch: swift-5.5-release
#          tag: 5.5-RELEASE
#      - name: Check out code
#        uses: actions/checkout@v2
#      - name: Run tests
#        run: swift test
