name: test
on: 
  - pull_request
defaults:
  run:
    shell: bash
jobs:
  dependents:
    runs-on: ubuntu-latest
    services:
      mysql-a:
        image: ${{ matrix.dbimage }}
        env: 
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_USER: vapor_username
          MYSQL_PASSWORD: vapor_password
          MYSQL_DATABASE: vapor_database
      mysql-b:
        image: ${{ matrix.dbimage }}
        env: 
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_USER: vapor_username
          MYSQL_PASSWORD: vapor_password
          MYSQL_DATABASE: vapor_database
    container: swift:5.4-focal
    strategy:
      fail-fast: false
      matrix:
        dbimage:
          - mysql:5.7
          - mysql:8.0
          - mariadb:latest
        dependent:
          - mysql-kit
          - fluent-mysql-driver
    steps:
      - name: Check out package
        uses: actions/checkout@v2
        with:
          path: package
      - name: Check out dependent
        uses: actions/checkout@v2
        with:
          repository: vapor/${{ matrix.dependent }}
          path: dependent
      - name: Use local package
        run: swift package edit mysql-nio --path ../package
        working-directory: dependent
      - name: Run tests with Thread Sanitizer
        run: swift test --enable-test-discovery --sanitize=thread
        working-directory: dependent
        env:
          MYSQL_HOSTNAME: mysql-a
          MYSQL_HOSTNAME_A: mysql-a
          MYSQL_HOSTNAME_B: mysql-b
          LOG_LEVEL: error
  linux:
    strategy:
      fail-fast: false
      matrix:
        dbimage:
          - mysql:5.7
          - mysql:8.0
          - mariadb:latest
        runner:
          - swift:5.2-xenial
          - swift:5.2-bionic
          - swift:5.2-focal
          - swift:5.2-centos7
          - swift:5.2-centos8
          - swift:5.2-amazonlinux2
          - swift:5.3-xenial
          - swift:5.3-bionic
          - swift:5.3-focal
          - swift:5.3-centos7
          - swift:5.3-centos8
          - swift:5.3-amazonlinux2
          - swift:5.4-bionic
          - swift:5.4-focal
          - swift:5.4-centos7
          - swift:5.4-centos8
          - swift:5.4-amazonlinux2
          - swiftlang/swift:nightly-5.5-focal
          - swiftlang/swift:nightly-5.5-centos8
          - swiftlang/swift:nightly-5.5-amazonlinux2
          - swiftlang/swift:nightly-main-focal
          - swiftlang/swift:nightly-main-centos8
          - swiftlang/swift:nightly-main-amazonlinux2
        exclude:
          - runner: swift:5.2-amazonlinux2
            dbimage: mysql:8.0
          - runner: swift:5.3-amazonlinux2
            dbimage: mysql:8.0
          - runner: swift:5.4-amazonlinux2
            dbimage: mysql:8.0
          - runner: swiftlang/swift:nightly-5.5-amazonlinux2
            dbimage: mysql:8.0
          - runner: swiftlang/swift:nightly-main-amazonlinux2
            dbimage: mysql:8.0
    container: ${{ matrix.runner }}
    runs-on: ubuntu-latest
    services:
      mysql:
        image: ${{ matrix.dbimage }}
        env: 
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
          MYSQL_USER: vapor_username
          MYSQL_PASSWORD: vapor_password
          MYSQL_DATABASE: vapor_database
    steps:
      - name: Workaround SPM incompatibility with old Git on CentOS 7
        if: ${{ contains(matrix.runner, 'centos7') }}
        run: |
          yum install -y make libcurl-devel
          git clone https://github.com/git/git -bv2.28.0 --depth 1 && cd git
          make prefix=/usr -j all install NO_OPENSSL=1 NO_EXPAT=1 NO_TCLTK=1 NO_GETTEXT=1 NO_PERL=1
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run tests with Thread Sanitizer
        run: swift test --enable-test-discovery --sanitize=thread
        env:
          MYSQL_HOSTNAME: mysql
          LOG_LEVEL: error
  macOS:
    strategy:
      fail-fast: false
      matrix:
        formula: 
          - mysql@8.0
          - mysql@5.7
          - mariadb
        xcode:
          - latest
          - latest-stable
        include:
          - username: root
          - formula: mariadb
            username: runner
    runs-on: macos-latest
    steps:
      - name: Select latest available Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with: 
          xcode-version: ${{ matrix.xcode }}
      - name: Install MySQL server from Homebrew
        run: brew install ${{ matrix.formula }} && brew link --force ${{ matrix.formula }}
      - name: Start MySQL server
        run: brew services start ${{ matrix.formula }}
      - name: Wait for MySQL server to be ready
        run: until echo | mysql -u${{ matrix.username }}; do sleep 1; done
        timeout-minutes: 5
      - name: Set up MySQL databases and privileges
        run: |
          mysql -u${{ matrix.username }} --batch <<-'SQL'
              CREATE USER vapor_username@localhost IDENTIFIED BY 'vapor_password';
              CREATE DATABASE vapor_database; 
              GRANT ALL PRIVILEGES ON vapor_database.* TO vapor_username@localhost;
          SQL
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run tests with Thread Sanitizer
        run: swift test --enable-test-discovery --sanitize=thread
        env: 
          MYSQL_HOSTNAME: '127.0.0.1'
          MYSQL_DATABASE: vapor_database
          LOG_LEVEL: error
